[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flask-marshmallow = "*"
Flask-SQLAlchemy = "*"
marshmallow-sqlalchemy = "*"
psycopg2 = "==2.8.5"
gunicorn = "*"
Flask-Cors = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
